@charset 'utf-8';
@import url('notosanskr/NotoSansKR.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline-style: none; */
}

a {
    color: #333;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

li {
    list-style: none;
}

html {
    font-size: 10px;
}

/* 공통요소 */
.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.container {
    position: relative;
    display: block;
    width: 1200px;
    margin: 0 auto;
}

.wrap {
    position: relative;
    display: block;
}

body {
    font-size: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99999;
}

.modal-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 400px;
    height: 250px;
    background-color: #fff;
    border-radius: 10px; 
    font-size: 15px;
    text-align: center;
    padding-top: 100px;
}
.modal-wrap span{
    font-size: 12px;
}
.modal-wrap::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: block;
    width: 50px;
    height: 50px;
    background: url('../images/modal_img.png') no-repeat center;
    margin-top: 30px;
}
.modal-close {
    position: relative;
    display: inline-block;

    padding: 7px 30px;
    color: #fff;
    background-color: #000;
    border: 0;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}
.modal-close-2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: block;
    padding: 7px 30px;
    color: #fff;
    background-color: #000;
    border: 0;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}
.modal-review{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 400px;
    height: 250px;
    background-color: #fff;
    border-radius: 10px; 
    font-size: 15px;
    text-align: center;
    padding-top: 30px;
}
.modal-review-bt {
    position: relative;
    display: inline-block;

    padding: 7px 30px;
    color: #fff;
    background-color: #000;
    border: 0;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}
.modal-review span{
    position: relative;;
    display: block;
    font-size: 17px;
    font-weight: 500;
}
.modal-review p {
    font-size: 14px;
    line-height: 25px;
}
.header{
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
    z-index: 99999;
}
.header-top{
    position: relative;
    display: block;
    height: 85px;
    background-color: #fff;
    z-index: 99;
}
.header-top .container{
    height: 100%;
}
.logo{
    position: absolute;
    left: 0;
    top: 26px;
    display: block;
    width: 155px;
    height: 34px;
    background: url('../images/sp_common.png') no-repeat;
    background-position: 0px 0px;
}
.header-search{
    position: absolute;
    left: 50%;
    top: 28px;
    transform: translateX(-50%);
    display: block;
    width: 345px;
    padding-left: 32px;
    
    letter-spacing: -0.75px;
    color: #111;
    font-weight: 400;
    border-bottom: 1px solid #222;
    line-height: 30px;
    text-align: left;
    font-size: 15px;
}
.header-search::before{
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 18px;
    height: 18px;
    background: url('../images/sp_common.png') no-repeat;
    background-position: -165px 0px;
}
.header-login{
    position: absolute;
    right: 0;
    top: 20px;
    display: block;
}
.header-login li{
    position: relative;
    display: inline-block;
    line-height: 39px;
    padding: 10px;
    vertical-align: middle;
    font-size: 14px;
    color: #111;
    letter-spacing: -0.75px;
    vertical-align: 0px;
}
.header-login li:nth-child(3){
    padding-right: 0px;
}
.header-lang{
    position: relative;
    display: block;
    width: 60px;
    height: 27px;
    border: 1px solid #ddd;
    border-radius: 13.5px;
    font-size: 12px;
    padding: 0 13px;
    line-height: 24px;
    letter-spacing: -0.75px;
    color: #888;
    font-weight: 400;
    font-family: "Roboto","Noto",sans-serif;
    appearance : none;
    outline: none;
}
.header-lang-arrow{
    content: '';
    position: absolute;
    top: 17px;
    right: 11px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-style: solid;
    border-color: #888;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 99;
    cursor: pointer;
}
.header-bottom{
    position: relative;
    display: block;
    height: 55px;
    border-bottom: 1px solid #ddd;
}
.header-bottom .container{
    height: 100%;
    z-index: 99;
    background-color: #fff;
}
.header-bottom-active {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
}
.nav{
    position: relative;
    display: block;
}
.gnb{
    position: relative;
    display: block;
    /* overflow: hidden; */
}
.gnb li{
    position: relative;
    display: block;
    float: left;
    padding: 0 65px;
    cursor: pointer;
}
.gnb li span{
    position: relative;
}
.gnb li span::after { 
    content:'';
    position: absolute;
    bottom: -3px;
    left: 50%;
    display: block;
    width: 0;
    height: 2px;
    background: #111;
    transform: translateX(-50%);
    transition: 0.3s;
} 
.gnb>li:hover span::after {
    transform: translateX(-50%);
    width: 100%;
}
.gnb li a{
    position: relative;
    display: block;
    font-size: 18px;
    color: #111;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: -0.75px;
}
.gnb li:first-child{
    padding-left : 0;
}
.menu-more{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;

    font-size: 18px;
    color: #111;
    line-height: 54px;
    padding-right: 20px;
    font-weight: 400;
}
.more-arrow{
    position: absolute;
    right: 0;
    top: 22px;
    display: block;
    width: 15px;
    height: 10px;
    background: url('../images/more-arrow.png') no-repeat;
    transform: rotate(0deg);
    transition: transform 0.3s;
}
.active{
    transform: rotate(-180deg);
    transition: transform 0.3s;
}
.moremenu{
    position: absolute;
    left: 0%;
    top: 100%;
    transform: translateY(-100%);

    display: block;
    width: 100%;
    height: 292px;
    background-color: #fff !important;
    border-top: 1px solid #ddd;
    transition: transform 0.3s;
}
.moremenu-active{
    transform: translateY(0);
    transition: transform 0.3s;
}
.moremenu .container{
    height: 0;
    padding: 29px 0 40px 0;
}
.moremenu-left{
    position: relative;
    display: block;
    float: left;
}
.moremenu-tit{
    position: relative;
    display: block;
    width: 794px;
    padding-right: 100px;
}
.moremenu-tit > li{
    position: relative;
    display: block;
    float: left;
    width: 33.33%;
}
.moremenu-tit > li > a{
    position: relative;
    display: block;
    padding: 10px 0;
    font-size: 17px;
    color: #111;
    line-height: 1;
    font-family: "Roboto","Noto",sans-serif;
    font-weight: 500;
    letter-spacing: -1.75px;
}
.moremenu-sub{
    position: relative;
    display: block;
    margin-top: 10px;
}
.moremenu-sub > li{
    position: relative;
    display: block;
    font-size: 15px;
    color: #555;
    line-height: 1;
    font-family: "Roboto","Noto",sans-serif;
    font-weight: 400;
    letter-spacing: -1.75px;
}
.moremenu-sub > li > a{
    position: relative;
    display: inline-block;
    padding: 10px 0;
}
.moremenu-sub > li span{
    position: relative;
}
.moremenu-sub > li span::after { 
    content:'';
    position: absolute;
    bottom: -3px;
    left: 50%;
    display: block;
    width: 0;
    height: 1px;
    background: #888;
    transform: translateX(-50%);
    transition: 0.3s;
} 
.moremenu-sub >li>a:hover span::after {
    transform: translateX(-50%);
    width: 100%;
}
.moremenu-right{
    position: relative;
    display: inline-block;
    width: 270px;
    height: 156px;
    padding: 22px 0 23px 70px;
    margin-top: 10px;
    border-left: 1px solid #ddd;
}
.moremenu-right > a{
    position: relative;
    display: block;
    padding: 8px 0;
    font-size: 17px;
    color: #111;
    line-height: 1;
    font-family: "Roboto","Noto",sans-serif;
    font-weight: 400;
    letter-spacing: -1.75px;
}
.moremenu-right-sub{
    position: relative;
    display: block;
    margin-top: 16px;
}
.moremenu-right-sub li{
    position: relative;
    display: block;
}
.moremenu-right-sub li a{
    position: relative;
    display: block;
    color: #888;
    padding: 8px 0;
    line-height: 1;
    font-size: 15px;
    font-family: "Roboto","Noto",sans-serif;
    font-weight: 400;
    letter-spacing: -1.75px;
}
.main{
    position: relative;
    display: block;
}
.slide{
    position: relative;
    display: block;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.sw-slide .swiper-slide a {
    position: relative;
    display: block;
    width: 100%;
    height: 495px;
    text-align: center;
}
.sw-slide-bg-1{
    background: url('../images/slide_img_1.jpg') no-repeat center;
    background-size: cover;
}
.sw-slide-bg-2{
    background: url('../images/slide_img_2.jpg') no-repeat center;
    background-size: cover;
}
.sw-slide-bg-3{
    background: url('../images/slide_img_3.jpg') no-repeat center;
    background-size: cover;
}
.sw-slide-bg-4{
    background: url('../images/slide_img_4.jpg') no-repeat center;
    background-size: cover;
}
.sw-slide-bg-5{
    background: url('../images/slide_img_5.jpg') no-repeat center;
    background-size: cover;
}
.sw-slide-bg-6{
    background: url('../images/slide_img_6.jpg') no-repeat center;
    background-size: cover;
}

.sw-slide-prev{
    position: absolute;
    left: 95px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    z-index: 99;
}
.sw-slide-prev::after{
    content: '';
    position: relative;
    display: inline-block;
    border-width: 0 1px 1px 0;
    transform: rotate(135deg);
    width: 45px;
    height: 45px;
    border-style: solid;
    border-color: transparent #bbb #bbb transparent;
    cursor: pointer;
}
.sw-slide-next{
    position: absolute;
    right: 95px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    z-index: 99;
}
.sw-slide-next::after{
    content: '';
    position: relative;
    display: inline-block;
    border-width: 0 1px 1px 0;
    transform: rotate(315deg);
    width: 45px;
    height: 45px;
    border-style: solid;
    border-color: transparent #bbb #bbb transparent;
    cursor: pointer;
}
.sw-slide-control{
    content: '';
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    z-index: 1;
}
.sw-slide-pg{
    position: relative;
    display: block;
    padding: 12px 40px 12px 20px;
    
    color: #fff;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    font-family: "Roboto","Noto",sans-serif;
    font-weight: 500;
}
.sw-slide-pause{
    content: '';
    position: absolute;
    right: 17px;
    top: 3px;
    display: inline-block;
    width: 10px;
    height: 15px;
    background: url('../images/sp_common.png') no-repeat;
    background-position: -164px -46px;
    z-index: 10;
    border: 0;
    cursor: pointer;
}
.sw-slide-pause-active{
    background-position: -184px -46px;
}

.order{
    position: relative;
    display: block;
}
.order .container{
    height: 280px;
}
.order-link{
    position: relative;
    display: block;
    padding-top: 56px;
}
.order-link li{
    position: relative;
    display: block;
    float: left;
    width: 33.33%;
    padding-left: 70px;
}
.order-link li a{
    position: relative;
    display: block;
}
.order-icon-1{
    position: relative;
    display: block;
    width: 52px;
    height: 38px;
    background: url('../images/sp_common.png') no-repeat;
    background-position: -195px -275px;
    margin-bottom: 15px;
}
.order-icon-2{
    position: relative;
    display: block;
    width: 40px;
    height: 39px;
    background: url('../images/sp_common.png') no-repeat;
    background-position: -262px -275px;
    margin-bottom: 15px;
}
.order-icon-3{
    position: relative;
    display: block;
    width: 26px;
    height: 42px;
    background: url('../images/ico-quick3.png') no-repeat;
    background-position: 0px 0px;
    margin-bottom: 15px;
}
.order-link li span{
    position: relative;
    display: inline-block;
    font-weight: 300;
    font-size: 40px;
    letter-spacing: -4px;
    font-family: "Roboto","Noto",sans-serif;
}
.order-link-arrow-1{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 9px;
    background: #ff143c;
    border-radius: 100%;
    border: 0;
}
.order-link-arrow-1::after,
.order-link-arrow-2::after,
.order-link-arrow-3::after{
    content: '';
    position: absolute;
    top: 11px;
    left: 8px;
    display: block;
    width: 7px;
    height: 7px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
    margin: 0 auto;
}
.order-link-arrow-2{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 9px;
    background: #1382ff;
    border-radius: 100%;
    border: 0;
}
.order-link-arrow-3{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 9px;
    background: #000000;
    border-radius: 100%;
    border: 0;
}
.order-link li:nth-child(1) span{
    color: #ff143c;
}
.order-link li:nth-child(2) span{
    color: #1382ff;
}
.order-link li:nth-child(3) span{
    color: #000000;
}
.order-link li p{
    margin-top: 17px;
    padding-left: 3px;
    font-size: 15px;
    line-height: 1.5;
    color: #888;
}

.benefit{
    padding: 110px 0;
    background: #f6f6f6;
}
.benefit .container{
    height: 210px;
}
.benefit-left{
    position: relative;
    display: block;
    width: 360px;
    float: left;
    padding-top: 10px;
}
.benefit-left p{
    position: relative;
    display: block;
    letter-spacing: -0.75px;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.35;
}
.benefit-left p span{
    color: #238ece;
    font-weight: 600;
    letter-spacing: -1.55px;
}
.benefit-login{
    position: relative;
    display: block;
    width: 103px;
    height: 43px;
    line-height: 43px;
    font-size: 15px;
    letter-spacing: -0.75px;
    margin-top: 30px;
    
    background: #222222;
    border: 1px solid #222;
    color: #fff;
    border-radius: 22px;
    cursor: pointer;
}
.benefit-right{
    position: relative;
    display: block;
    width: 755px;
    margin-right: 85px;
    float: right;
}
.sw-benefit .swiper-slide:first-child img{
    /* padding-left: 105px; */
}
.sw-benefit .swiper-slide:last-child img{
    /* padding-right: 105px; */
}
.sw-benefit-prev{
    content: '';
    position: absolute;
    left: -50px;
    top: 90px;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    transform: rotate(135deg);
    background-color: #f6f6f6;
    cursor: pointer;
    z-index: 9;
    
}
.sw-benefit-next{
    content: '';
    position: absolute;
    right: -50px;
    top: 90px;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    transform: rotate(315deg);
    background-color: #f6f6f6;
    cursor: pointer;
    z-index: 9;
}

.article{
    position: relative;
    display: block;
}
.article .container{
    padding: 80px 0;
}
.sw-article{
    width: 1050px;
}
.sw-article-prev{
    position: absolute;
    left: 0px;
    top: 270px;
    display: block;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: 1px solid #999;
    border-width: 0 1px 1px 0;
    transform: rotate(135deg);
    z-index: 9;
    cursor: pointer;
}
.sw-article-next{
    position: absolute;
    right: 20px;
    top: 270px;
    display: block;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: 1px solid #999;
    border-width: 0 1px 1px 0;
    transform: rotate(315deg);
    z-index: 9;
    cursor: pointer;
}
.footer{
    position: relative;
    display: block;
    border-top: 1px solid #ddd;
}
.footer-top{
    position: relative;
    display: block;
    height: 328px;
}
.footer-top .container{
    padding: 52px 0;
}
.footer-tel{
    position: relative;
    display: block;
}
.footer-logo{
    position: relative;
    display: block;
    width: 123px;
    height: 26px;
    float: left;
    background: url('../images/sp_common.png') no-repeat;
    background-position: 0 -47px;
}
.footer-tel h2{
    margin-left: 13px;
    font-size: 30px;
    font-weight: 500;
    font-family: "Roboto","Noto",sans-serif;
    letter-spacing: -0.75px;
    float: left;
}
.footer-lang{
    position: relative;
    display: block;
    width: 174px;
    float: right;
    appearance: none;
    outline: none;
    border: 0;
    border-bottom: 1px solid #888;

    font-size: 15px;
    color: #888;
    margin-top: 6px;
    padding-left: 4px;
    padding-right: 25px;
    font-weight: 400;
    letter-spacing: -0.75px;
    font-family: "Roboto","Noto",sans-serif;
}
.footer-lang-arrow{
    position: absolute;
    top: 8px;
    right: 6px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    z-index: 9;
}
.footer-contact{
    position: relative;
    display: block;
    margin-top: 15px;
}
.footer-contact ul{
    position: relative;
    display: block;
    float: left;
}
.footer-contact ul li{
    position: relative;
    display: block;
    float: left;
    padding: 10px;
    cursor: pointer;
}
.footer-contact ul li a{
    font-size: 16px;
    letter-spacing: -0.75px;
    color: #888;
}
.footer-contact ul li:nth-child(2) a{
    font-weight: 500;
    color: #111 !important;
}
.footer-contact ul li:first-child{
    padding-left: 0;
}
.footer-contact-right{
    position: relative;
    display: block;
    width: 174px;
    float: right;
    margin-top: 8px;
}
.footer-contact span{
    position: relative;
    display: block;
    text-align: left;
    font-size: 13px;
    font-family: "Roboto","Noto",sans-serif;
    font-weight: 400;
    color: #000;
    letter-spacing: -0.75px;
    margin-left: 5px;
}
.apple{
    position: absolute;
    right: 42px;
    top: -7px;
    display: block;
    width: 20px;
    height: 26px;
    background: url('../images/sp_common.png') no-repeat;
    background-position: -447px 0;
    cursor: pointer;
}
.android{
    position: absolute;
    right: 2px;
    top: -5px;
    display: block;
    width: 20px;
    height: 26px;
    background: url('../images/sp_common.png') no-repeat;
    background-position: -478px 0;
    cursor: pointer;
}
.footer-info{
    position: relative;
    display: block;
    margin-top: 25px;
}
.footer-info p{
    line-height: 1.75;
    color: #888;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.75px;
}
.footer-notice{
    margin-top: 12px;
    float: left;
}
.footer-sns{
    display: block;
    width: 164px;
    float: right;
    margin-top: 15px;
    opacity: 0.5;
}
.footer-sns li{
    display: block;
    float: left;
    width: 20%;
}
.blog{
    position: relative;
    display: block;
    width: 13px;
    height: 20px;
    background: url('../images/sp_common.png') no-repeat center;
    background-position: -509px 0;
    margin-left: 3px;
}
.insta{
    position: relative;
    display: block;
    width: 21px;
    height: 21px;
    background: url('../images/sp_common.png') no-repeat center;
    background-position: -532px 0;
}
.face{
    position: relative;
    display: block;
    width: 11px;
    height: 22px;
    background: url('../images/sp_common.png') no-repeat center;
    background-position: -563px 0;
    margin-left: 5px;
}
.youtube{
    position: relative;
    display: block;
    width: 25px;
    height: 19px;
    background: url('../images/sp_common.png') no-repeat center;
    background-position: -584px 0;
}
.twitter{
    position: relative;
    display: block;
    width: 23px;
    height: 19px;
    background: url('../images/sp_common.png') no-repeat center;
    background-position: -619px 0;
    margin-left: 3px;
}
.footer-bottom{
    background: #f5f5f5;
    height: 100px;
    padding: 30px 0;
}
.footer-awards{
    position: relative;
    display: block;
}
.footer-awards li{
    position: relative;
    display: block;
    float: left;
    margin-right: 34px;
}
.footer-awards li:last-child{
    margin-right: 0;
}
.footer-awards img{
    position: relative;
    display: block;
    float: left;
}
.footer-awards p{
    position: relative;
    display: block;
    float: left;
    padding-left: 7px;
    font-size: 11px;
    color: #888;
    line-height: 16px;
    font-weight: 300;
    letter-spacing: -0.75px;
}